<div class="main">
    <div class="row">
        <aside class="sidebar border-right col-3 menu">
            <h2>Configuración</h2>
            <div class="input-group" id="columnForm">
                <label for="columnCount">Cantidad de Columnas:</label>
                <input type="number" id="columnCount" name="columnCount" min="1" value="3" />
            </div>
            <button type="button" onclick="generateColumnInputs()">Generar Columnas</button>
            <div id="columnNamesSection" class="generador_input"></div>
            <button type="button" onclick="createTable()">Crear Tabla</button>

            <div class="agregador">
                <div id="addRowSection" style="display: block;">
                    <h2>Agregar Información</h2>
                    <div id="rowInputs" class="rowInputs"></div>
                    <button type="button" onclick="addRow()">Agregar Fila</button>
                    <button type="button" onclick="loadTable()">loadTable</button>
                </div>
            </div> 
        </aside>

        <main class="col-8">
            <table id="dataTable">
                <thead id="tableHead"></thead>
                <tbody id="tableBody"></tbody>
            </table>
            <!-- Sección del Administrador -->
            <div id="adminSection" class="hidden">
                <h2 style="color: aliceblue;">Gestión de Usuarios</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Rol</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody id="userList"></tbody>
                </table>
            </div>
        </main>

    </div>
</div>
