<header class="encabesado">
  <a class="logo" href="/" >
    DB_DDFJ_IAE
  </a>
  <div class="boton">
    <button disabled="disabled" class="btn btn-light" > Configuracion</button>
    <button type="button" class="btn btn-light">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>