<header class="encabesado">
  <a class="logo" href="/" >
    DB_DDFJ_IAE
  </a>
  <div class="boton">
    <button disabled="disabled" class="btn btn-light" > Configuracion</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
    <button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#SignModal">Sign-up</button>
  </div>
  <!-- Modal Login // Iniciar sesión-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h4>Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="loginUsername">Username</label>
              <input type="text" class="form-control" id="loginUsername" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="loginPassword"> Password</label>
              <input type="text" class="form-control" id="loginPassword" placeholder="Enter password">
            </div>

              <button type="submit" onclick="loginUser()" class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Modal Sign-up-->
  <div class="modal fade" id="SignModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h4> Sign-up</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="loginUsername"> Username</label>
              <input type="text" class="form-control" id="registerUsername" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="loginPassword"> Password</label>
              <input type="text" class="form-control" id="registerPassword" placeholder="Enter password">
            </div>
              <select id="registerRole">
                <option value="user">Usuario</option>
                <option value="admin">Administrador</option>
              </select>
              <button type="submit" onclick="registerUser()" class="btn btn-success btn-block"> Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

  
 
