<header class="encabesado">
  <a class="logo" href="/" >
    DB_DDFJG_IAE
  </a>
  <div class="boton">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Iniciar sesión</button>
    <button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#SignModal">Registrarse</button>
  </div>
</header>

  
 
