*{padding: 0%;margin: 0%;box-sizing: border-box;}
.main{
    width: 100%;
    height: 100vh;
    background-color: rgba(31,31,31,255);
}
.menu{
    height: 90vh;
    background-color: #232523;
}
.titulo{
    color: #ddd;
    font-weight: bold;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#config-form{
    width: 100%;
}


.menu h2{
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.menu button{
    width: 90%;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10%/95%;
    font-weight: bold;
}

.input-group {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.input-group input {
    margin-left: 2px;
    width: 15%;
    text-align: center;
}
.generador_input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.generador_input input{
    width: 80%;
    margin-left: 10px;
}
.rowInputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.rowInputs input{
    width: 80%;
    margin-left: 10px;
}

#Tabla-columnsa{
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #ddd;
}

th {
    background-color: #4CAF50;
    color: #fff;    
}

.hidden {
    display: none;
}