*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
}
#nombres-columnas{
    margin: 10px;
}
.menu{
    background-color: rgb(100, 205, 212);
}
#Tabla-columnsa{
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}



table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}